<div class="card-api__index">${ _.index }</div>
<div class="card-api__name">${ _.API }</div>
<div class="card-api__category"><span class="card-api__th">Category:</span>${ _.Category }</div>
<div class="card-api__description"><span class="card-api__th">En:</span>${ _.Description }</div>
<div class="card-api__description"><span class="card-api__th">Ru:</span>${ _.DescriptionRu }</div>
<hr class="card-api__hr">
<div class="card-api__auth"><span class="card-api__th">Авторизация:</span>${ _.Auth }</div>
<div class="card-api__link"><a target="_blank" href="${ _.Link }">Документация</a></div>
<div class="card-api__cors"><span class="card-api__th">Cors:</span>${ _.Cors }</div>
<div class="card-api__https"><span class="card-api__th">HTTPS:</span>${ _.HTTPS }</div>