<div class="filter__header">Фильтр</div>
<form class="filter__form" action="">
  <select class="filter__select" name="auth" id="auth_select">
    <option value="">All auth</option>
    <option value="OAuth">OAuth</option>
    <option value="User-Agent">User-Agent</option>
    <option value="X-Mashape-Key">X-Mashape-Key</option>
    <option value="apiKey">apiKey</option>
    <option value="null">no</option>
  </select>
  <select class="filter__select" name="cors" id="cors_select">
    <option value="">All cors</option>
    <option value="no">No</option>
    <option value="yes">Yes</option>
    <option value="unknown">Unknown</option>
    <option value="unkown">Other</option>
  </select>
  <select class="filter__select" name="https" id="https_select">
    <option value="">All http</option>
    <option value="false">No</option>
    <option value="true">Yes</option>
  </select>
</form>